<%- include('./layout/head_mobile.ejs')%>

<body onload=onLoad();>
    <%- include('./layout/loading.ejs')%>
    <div id='headerLayout'>
        <%- include('./layout/left.ejs') %>
        <div id='main'>
            <%- include('./layout/top_mobile.ejs') %>
            <div id='bodyWrapper'>
                <%- include('./aboutSection.ejs') %>
                <%- include('./experienceSection.ejs') %>
                <%- include('./skillsMobileSection.ejs')%>
                <%- include('./contactSection.ejs')%>
                <%- include('./layout/footer.ejs') %>
            </div>
        </div>
    </div>
</body>
<%- include('./layout/javascripts_mobile.ejs')%>

</html>